@model CompanyBlog.Models.Post

@{
    ViewData["Title"] = Model.Title;
}

<h2>@Model.Title</h2>

<div>
    <hr />
    @*Display Post Image*@
    @if (!String.IsNullOrEmpty(Model.Image))
    {
        var imagePath = $"/Image/{Model.Image}";
        <img src="@imagePath " width="500">
    }
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Body)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostedOn)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Admin"))
    {
    <a asp-action="Edit" asp-route-id="@Model.PostID">Edit</a>
    }
    | <a asp-action="Index">Back to List</a>
</div>
