@model CompanyBlog.Models.Post

@{
    ViewData["Title"] = Model.Title;
}


<div class="jumbotron landing-image-details">
    <div class="landing-text">
        <h1>@Model.Title</h1>
    </div>
</div>
<div>
    <hr />
    
    @*<dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Body)
        </dt>
        <dd>
            @Html.Raw(Model.Body)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PostedOn)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PostedOn)
        </dd>
    </dl>*@
</div>

<div class="container">
    <div class="row">
        <div class="col-4" style="float:left">
            @*Display Post Image if there's an image associated with this post*@
            @if (!String.IsNullOrEmpty(Model.Image))
            {
                var imagePath = $"/Image/{Model.Image}";
                <img src="@imagePath " style="width:inherit">
            }
        </div>
        <div class="col-8" style="float:left">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Author)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Author)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Body)
                </dt>
                <dd>
                    @Html.Raw(Model.Body)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.PostedOn)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.PostedOn)
                </dd>
            </dl>

            <div class="comment-section">
                <h3>Leave a comment</h3>
                <form method="post" asp-controller="Posts" asp-action="Comment">
                    @{
                        await Html.RenderPartialAsync("_MainComment", new CommentViewModel { PostId = Model.PostID, MainCommentId = 0 });
                    }
                </form>
                @foreach (var c in Model.MainComments)
                {
                    <div class="dialogbox">
                        <div class="body">
                            <span class="tip tip-up"></span>
                            <div class="message">
                                <p>@c.PostedOn</p>
                                <span>@c.Message</span>
                            </div>
                        </div>
                    </div>
                    <div class="subcomment">
                        <h2>Reply this comment</h2>
                        @{
                            await Html.RenderPartialAsync("_MainComment", new CommentViewModel { PostId = Model.PostID, MainCommentId = c.Id });

                        }

                        @foreach (var sc in c.SubComments)
                        {
                            <div class="dialogbox">
                                <div class="body">
                                    <span class="tip tip-up"></span>
                                    <div class="message">
                                        <p>@sc.PostedOn</p>
                                        <span>@sc.Message</span>
                                    </div>
                                </div>
                            </div>
                        }

                    </div>
                }
            </div>
        </div>
    </div>
</div>

<div>
    @if (User.IsInRole("Admin"))
    {
    <a asp-action="Edit" asp-route-id="@Model.PostID">Edit</a>
    }
    | <a asp-action="Index">Back to List</a>
</div>
