@model IEnumerable<CompanyBlog.Models.Post>

@{
    ViewData["Title"] = "Index";
}

<div class="jumbotron landing-image-index">
    <div class="landing-text">
        <h1>Welcome to my blog!</h1>
    <p>Thank you for taking the time to visit my blog! I'm Justin, a photographer.
     Here I make blog posts about the images I create, I hope you enjoy viewing them.</p>
    </div>
</div>

@if (User.IsInRole("Admin"))
{
    @*<button asp-action="Create" class="btn btn-outline-success my-2 my-sm-0">Add New Post</button>*@
    <a asp-action="Create" class="btn btn-outline-success my-2 my-sm-0">Add New Post</a>
}
    

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            @foreach (var item in Model)
            {
            <div class="post-preview">
                <a asp-action="Details" asp-route-id="@item.PostID">
                    <h2>@Html.DisplayFor(modelItem => item.Title)</h2>
                </a>
                <div class="post-body-preview">
                    @Html.Raw(item.Body)
                </div>
                <p class="post-meta">
                    Posted by @Html.DisplayFor(modelItem => item.Author) on @Html.DisplayFor(modelItem => item.PostedOn)
                </p>

                @if(User.IsInRole("Admin")){
                    <a asp-action="Edit" asp-route-id="@item.PostID">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.PostID">Delete</a>
                    <i class="far fa-eye"></i>
                    @item.ViewCount
                }
            </div>
                <hr>
            }
        </div>
    </div>
</div>
