@inject SignInManager<CompanyUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="nav flex-column nav-pills" role="tablist" aria-orientation="vertical">
    <li class="@ManageNavPages.IndexNavClass(ViewContext)"><a class="nav-link" role="tab" asp-page="./Index">Profile</a></li>
    <li class="@ManageNavPages.ChangePasswordNavClass(ViewContext)"><a class="nav-link" role="tab" id="change-password" asp-page="./ChangePassword">Password</a></li>
    @if (hasExternalLogins)
    {
        <li class="@ManageNavPages.ExternalLoginsNavClass(ViewContext)"><a class="nav-link" role="tab" id="external-login" asp-page="./ExternalLogins">External logins</a></li>
    }
    <li class="@ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)"><a class="nav-link" role="tab" asp-page="./TwoFactorAuthentication">Two-factor authentication</a></li>
    <li class="@ManageNavPages.PersonalDataNavClass(ViewContext)"><a class="nav-link" role="tab" asp-page="./PersonalData">Personal data</a></li>
</ul>
